body {
    line-height: 1;
    font-family: "Roboto";
    color: white;
    background-color: #48633ad2;
}

.title {
    font-weight: bold;
    font-size: 25px;
    color: #F5F1EE;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-transform: uppercase;
}

.main {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container {
    width: 90%;
    margin: auto auto;
    position: relative;
    margin-bottom: 100px;
}

.content {
    background-color: #373737;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    line-height: 40px;
}

#logo img {
    border-radius: 20%;
    margin: auto;
    width: 15%;
    padding-top: 10px;
}

#logo h2 {
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0px 0px 20px 0px!important;
}

.content h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 20px;
}

.content p {
    font-size: 1.2rem;
    margin: 20px;
    font-weight: 500;
}

#texte {
    width: 100%;
    line-height: 30px;
    font-weight: 600;
}



/* bas de page */

footer {
    margin-top: 18px;
    background-color: #373737;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 40px;
}