body {
    color: white;
    background-color: #48633ad2;
    font-family: "Roboto";
}

/* Span */
span {
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    color: #F5F1EE;
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* exp */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* bas de page */

footer {
    margin-top: 2vh; /* Adjusted to be responsive to viewport height */
    background-color: #373737;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    font-size: 2vh; /* Adjusted to be responsive to viewport height */
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 5vh; /* Adjusted to be responsive to viewport height */
  }