body {
    color: white;
    background-color: #48633ad2;
}

/* Span */
span {
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    color: #F5F1EE;
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* exp */


section { 
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 0.5;
}

section#cursus{ justify-content: start; }

section#experience{ justify-content: end; }


/* bas de page */

footer {
    margin-top: 18px;
    background-color: #373737;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 40px;
}